h1{
    display: inline;
    background-color: aqua;
    margin-right: 30px;
    
}
span{
    display: block;
    background-color: yellowgreen;
    width: 33.33%; /*relative unit (Percentage)*/
    margin-bottom: 20px;
}
/* div{
    height: 200px;
    width: 200px;
    background-color: green;
    border: 2px solid black;
    margin: 5px;
    display: inline-block;
} */
#outer{
    height: 400px;
    width: 400px;
    background-color: aqua;
    margin: 50px;
}
#inner{
    height: 100px;
    width: 100px;
    background-color: pink;
    margin-left: 10%;
}