 *{
    font-family:'Courier New' ;
  }  
 /* -->this is universal selector that is applied to all selectors */ 
 
 h1 ,h3{
    color: #b92b27;
 }
 
 #login{
   background-color: white;
 }
 
 #signup {
   background-color: #b92b27;
   color: white;
 }
 
 .upvote{
  background-color: darkgreen;
  color: aliceblue;
 }

 /* descendant selector */

  nav ul li a{
  color: purple;
 }

 
 /* descendant selector */

 .post a{
  color: purple;
  background-color: yellow;
 }

 /* Sibling Combinator */
 p + h3{
  text-decoration: underline;
 }
 .upvote + button{
  background-color: blueviolet;
  color: white;

 }

 /* Child combinator */
 div > input{
  background-color: antiquewhite;
 }
 /* Attribute selector */
 input[type="text"]{
  color: red;
 }
 input[type="password"]{
  color: green;
 }
 input[type]{
  background-color: ghostwhite;
 }
 /* q.practice 7 */
 /* #myid p{
  color: green;
 } 
 OR*/
 div[id="myid"] p {
  color: green;
 }
   
/* note: id>class>element -->priority */

/* Pseudo code */
button:hover {
  background-color: black;
  color:white;
}
h3:hover {
  text-decoration: none;

}
button:active{
  background-color: hotpink;
  color: black;
}

p:active{
  font-weight: bold;
  color:green;
}
input[type=radio]:checked+label{
  color: red;
  font-weight: bold;
}

div :nth-of-type(2n){
  background-color: blanchedalmond;
}
h1::first-letter{
  color: black;
}
p::first-line{
  color: blueviolet;
}
p::selection{
  background-color: rgb(189, 210, 210);
}